
.commitment__mix{
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 168px;
}

.commitment__title{
    max-width: 347px;
    height: 48px;
font-family: 'Fraunces';
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #333D4B;
margin-bottom: 32px;
}
.commitment__text{
    max-width: 540px;
    height: 260px;
    font-family: 'Barlow';
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #333D4B;
opacity: 0.8;
}