.hero__bg-style {
  max-width: 1280px;
  height: 450px;
  padding: 137px 750px 137px 85px;
  margin-bottom: 168px;
}
.hero_bg-image {
  background-image: url(../../image/coffee-in-the-bar.png);
  margin-left: auto;
  margin-right: auto;
}
.hero-title{
    max-width: 183px;
font-family: 'Fraunces';
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
margin-bottom: 24px;

}
.hero__text{
    max-width: 445px;
    
    font-family: 'Barlow';
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
}
